<br />
<div class="container">
  <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="false" [showNavigationArrows]="true" [showNavigationIndicators]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" class="d-block w-100" alt="Gaming Setup" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" class="d-block w-100" alt="Electronics" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" height="500" class="d-block w-100" alt="Gaming Console" />
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container">
    <div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="menu-section-heading">Explore Products</h2>
          </div>

          <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
              <img
                src="../../../assets/images/Asus Zeyphrus.jpg"
                class="menu-item-image w-100"
              />
              <h1 class="menu-card-title">Gamin Laptop</h1>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
              <img
                src="../../../assets/images/Xbox.jpeg"
                class="menu-item-image w-100"
              />
              <h1 class="menu-card-title">Xbox</h1>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
              <img
                src="../../../assets/images/Rog 6 Asus.jpg"
                class="menu-item-image w-100"
              />
              <h1 class="menu-card-title">Gaming Mobiles</h1>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
              <img
                src="../../../assets/images/PS5.png"
                class="menu-item-image w-100"
              />
              <h1 class="menu-card-title">Playstations</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-section pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img
              src="../../../assets/images/Logo.png"
              class="food-munch-logo"
            />
            <h1 class="footer-section-mail-id"></h1>
            <p class="footer-section-address">
              Thiyagadurgam, Kallakurichi,Tamil Nadu
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
